# 如果觉得好用，请收藏或则分享本站
openapi: 3.0.1
info:
  title: Horizon
  version: 1.0.0
servers:
  - url: 'http://horizon.mockserver.org/'
paths:
  /api/v1/login:
    get:
      description: OpenID登录
      operationId: login
      tags:
        - login
      parameters:
        - name: redirectUrl
          in: query
          description: 重定向到的url
          schema:
            type: string
        - name: fromHost
          in: query
          description: 重定向到的host
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResult'
  /api/v1/logout:
    post:
      description: 登出接口
      operationId: logout
      tags:
        - login
      parameters:
        - name: openIDState
          in: cookie
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    x-swagger-router-controller: api
  /api/v1/status:
    get:
      tags:
        - login
      description: 查当前用户
      operationId: currentUser
      parameters:
        - name: openIDState
          in: cookie
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResult'
        '401':
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-codegen-request-body-name: body
    x-swagger-router-controller: api
  /api/v1/groups:
    get:
      tags:
        - group
      description: 查分组
      summary: 根据搜索条件查分组
      operationId: queryGroups
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QueryGroupParam'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryGroupResult'
        '401':
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-codegen-request-body-name: body
    x-swagger-router-controller: api
  /api/v1/group:
    post:
      tags:
        - group
      operationId: createGroup
      summary: create a group
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/newGroup"
      responses:
        "201":
          description: null response
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
  /api/v1/group/{group}:
    parameters:
      - $ref: "#/components/parameters/groupParam"
    get:
      tags:
        - group
      operationId: getGroupDetail
      summary: get the detail of a group
      responses:
        '200':
          description: Expected response to a valid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/groupDetail"
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
    put:
      tags:
        - group
      operationId: updateGroupDetail
      summary: update detail of a group
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/groupDetail'
      responses:
        '200':
          description: Update result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/groupDetail'
        default:
          description:  Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
    delete:
      tags:
        - group
      operationId: deleteGroup
      summary: delete an empty group
      responses:
        '200':
          description: null response
        default:
          description:  Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
components:
  parameters:
    groupParam:
      name: group
      in: path
      required: true
      schema:
        type: string
    searchParam:
      name: search
      in: query
      description: Return the list of authorized groups matching the search criteria
      required: false
      schema:
        type: string
  schemas:
    CurrentUser:
      type: object
      properties:
        name:
          type: string
        mailAddress:
          type: string
    LoginResult:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/CurrentUser'
    PageParams:
      type: object
      properties:
        current:
          type: number
        pageSize:
          type: number
    QueryGroupParam:
      type: object
      properties:
        search:
          type: string
          description: 搜索关键字
        pageParam:
          $ref: '#/components/schemas/PageParams'
    QueryGroupResult:
      type: array
      items:
        $ref: '#/components/schemas/groupDetail'

    ErrorResponse:
      required:
        - errorCode
      type: object
      properties:
        errorCode:
          type: string
          description: 业务约定的错误码
        errorMessage:
          type: string
          description: 业务上的错误信息
        success:
          type: boolean
          description: 业务上的请求是否成功
    queryGroup:
      type: string
      maxLength: 100
      description: param for querying group
    newGroup:
      type: object
      required:
        - name
        - path
        - visibilityLevel
      properties:
        name:
          $ref: '#/components/schemas/groupName'
        path:
          $ref: '#/components/schemas/groupPath'
        description:
          $ref: '#/components/schemas/groupDescription'
        visibilityLevel:
          $ref: '#/components/schemas/visibilityLevel'
        parantId:
          $ref: '#/components/schemas/groupId'

    groupDetail:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/groupId'
        name:
          $ref: '#/components/schemas/groupName'
        path:
          $ref: '#/components/schemas/groupPath'
        description:
          $ref: '#/components/schemas/groupDescription'
        visibilityLevel:
          $ref: '#/components/schemas/visibilityLevel'
        createTime:
          $ref: '#/components/schemas/date'
    date:
      type: string
      format: date
      pattern: full-date
    groupId:
      type: integer
      format: int64
      description: the parent id of the subgroup,if not provided. a root group
    groupName:
      type: string
      maxLength: 64
      description: the group Name
    groupPath:
      type: string
      maxLength: 1024
      description: the group path
    visibilityLevel:
      type: integer
      format: int32
      enum: [0,1]
      default: 0
      description: 0 means public(every one can see the group), 1 means private one member can see
    groupDescription:
      type: string
      maxLength: 1024
      description: the group description
    error:
      type: object
      required:
        - code
        - message
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string
