openapi: 3.0.1
info:
  title: Horizon-group
  version: 1.0.0
servers:
  - url: 'http://horizon.mockserver.org/'
paths:
  /api/v1/groups/search?parentId={parentId}&filter={filter}&pageIndex=${pageIndex}&pageSize={pageSize}:
    get:
      tags:
        - group
      description: query groups
      summary: query groups
      operationId: queryGroups
      parameters:
        - name: parentId
          in: query
        - name: filter
          in: query
        - $ref: '../core.yaml/#/components/parameters/pageIndex'
        - $ref: '../core.yaml/#/components/parameters/pageSize'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/GroupChild'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "../core.yaml#/components/schemas/Error"

  /api/v1/groups/children?parentId={groupId}:
    get:
      tags:
        - group
      operationId: queryGroupChildren
      summary: query children of a group
      parameters:
        - name: groupId
          in: query
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/GroupChild'
          description: Success
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "../core.yaml#/components/schemas/Error"

components:
  schemas:
    GroupChild:
      type: object
      properties:
        id:
          $ref: '../restful/group.yaml/#/components/schemas/GroupId'
        name:
          $ref: '../restful/group.yaml/#/components/schemas/GroupName'
        description:
          $ref: '../restful/group.yaml/#/components/schemas/GroupDescription'
        path:
          $ref: '../restful/group.yaml/#/components/schemas/GroupPath'
        type:
          $ref: '#/components/schemas/GroupChildType'
        childrenCount:
          type: integer
        subGroupCount:
          type: integer
        applicationCount:
          type: integer
        children:
          type: array
          items:
            $ref: '#/components/schemas/GroupChild'
        createTime:
          $ref: '../restful/group.yaml/#/components/schemas/Date'
        modifyTime:
          $ref: '../restful/group.yaml/#/components/schemas/Date'

    GroupChildType:
      type: string
      enum:
        - group
        - application



