name: Build Image

on:
  push:
    branches:
      - main
    tags:
      - v*

jobs:
  release:
    strategy:
      matrix:
        components: [core, job, swagger]
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v3
      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v3
        with:
          flavor: |
            latest=false
          images: |
            ${{ secrets.DOCKERHUB_USERNAME }}/loggie
          tags: |
            type=ref,event=branch
            type=sha,prefix={{branch}}-,enable=${{ github.ref_type == 'branch' }}
            type=ref,event=tag
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Build and push
        uses: docker/build-push-action@v3
        with:
          context: .
          file: ./build/${{ matrix.components }}/Dockerfile
          push: true
          tags: ${{ steps.meta.outputs.tags }}
